{% extends 'base.html' %}

{% block content %}
    <h5 class="card-header">{{ g.title }}</h5>
    <div class="card-body">
        <div class="card-text">
            {{ g.author }}
            <br><br>
            Falschzugeordnete Zitate mit dem Autoren:
            {% for quote in g.quotes %}
                <div>„{{ quote.quote.quote }}“ - {{ quote.author.author }} (<a href="/{{ quote.id }}">{{ quote.id }}</a>)</div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block opengraph %}
    <meta name="twitter:title" property="og:title" content="{{ g.title }}" />
    <meta name="twitter:description" property="og:description" content="{{ g.author }}" />
    <meta property="description" content="{{ g.author }}"/>
    <meta property="og:url" content="{{ g.url }}" />
{% endblock %}
