{% extends 'base.html' %}

{% block content %}
    <h5 class="card-header">Statistiken</h5>
    <div class="card-body">
        <div class="card-text">
            <div>Es wurde schon {{ g.votes }} mal abgestimmt.</div>
            <div>Es sind schon {{ g.quotes }} Zitate in der Datenbank.</div>
            <div>Durchschnittlich wurde jedes Zitat {{ g.shows }} mal gezeigt.</div>
        </div>
<iframe src="https://g.ulpaulpa.de/dashboard-solo/snapshot/ilTB5WYuntoSXeGkDsTejev4DWM7qCc3?orgId=0&from=1617698056532&to=1620290056532&panelId=4" width="450" height="200" frameborder="0"></iframe>
    </div>
{% endblock %}

{% block opengraph %}
    <meta name="twitter:title" property="og:title" content="Falschzugeordnete Zitate" />
    <meta name="twitter:description" property="og:description" content="Unsere {{ g.quotes }} Zitate wurden jeweils durchschnittlich {{ g.shows }} mal gezeigt. Insgesamt wurde schon {{ g.votes }} mal abgestimmt." />
    <meta property="description" content="Unsere {{ g.quotes }} Zitate wurden jeweils durchschnittlich {{ g.shows }} mal gezeigt. Insgesamt wurde schon {{ g.votes }} mal abgestimmt."/>
    <meta property="og:url" content="{{ g.url }}" />
{% endblock %}
